
*{
    margin:0;
    padding: 0;
    font-family: 'Macondo', cursive;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border:none;
    text-transform: capitalize;
    
}

@font-face{
    font-family: roboto;
    src: url(fonts/Roboto-Black.ttf);
  }

:root{
    --green: #27ae60;
    --black: #192a56;
    --light-color: #666;
    --yellow: #e7e572;
    --box-shadow:0.5rem 1.5rem
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}
section{
    padding: 2rem 9%;

}

section:nth-child(even){
    background:#eee;
}

.sub-heading{
    text-align: center;
    color:var(--green);
    font-size: 3rem;
    padding-top: 1rem;
    text-transform:uppercase;
}

.heading{
    text-align: center;



}

.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.btn:hover{
    background: var(--green);
    letter-spacing: .1rem;
}







header{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    z-index: 1000;
    box-shadow:var(--box-shadow);
    background-color: rgb(221, 122, 122);

} 

header .logo{
    color:var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i{
    color:var(--green);
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: var(--light-color);
}

header .navbar a.active,
header .navbar a:hover{
    color:#fff;
    background: var(--green);
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover,
header .icons a:hover{
    color: #fff;
    background: var(--green);
    transform: rotate(360deg);

}

header .icons #menu-bars{
    display: none;
}






#search-form{
    position: fixed;
    top:-110%;
    left:0;
    height: 100%;
    width: 100%;
    z-index: 1004;
    background: rgba(0, 0, 0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

#search-form.active{
    top:0;
}

#search-form #search-box{
    width: 50rem;
    border-bottom: .1rem solid #fff;
    padding: 1rem 0;
    color: #fff;
    font-size: 3rem;
    text-transform: none;
    background: none;

}

#search-form #search-box::placeholder{
    color: #eee;

} 

#search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;

} 

#search-form label{
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
}

#search-form label:hover{
    color:var(--green);
}

#search-form #close{
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 2rem;
    right: 3rem;
    font-size: 5rem;
}

#search-form #search-box{
    width: 90%;
    margin: 0 1rem;
}









.home .home-slider .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
    padding-top: 9rem;
    
}


.home .home-slider .slide .content{
    flex: 1 1 45rem;

}

.home .home-slider .slide .image{
    flex: 1 1 45rem;
    
}


.home .home-slider .slide .image img{
    width: 100%;
    
}

.home .home-slider .slide .content span{
    color: var(--green);
    font-size: 2.5rem;
    
}


.home .home-slider .slide .content h3{
    color: var(--black);
    font-size: 7rem;
}

.home .home-slider .slide .content p{
    color: var(--light-color);
    font-size: 2.2rem;
    padding: .5rem 0;
    line-height: 1.5;
}

.swiper-pagination-bullet-active{
    background:var(--green);
    background-color: rgb(221, 122, 122);
}





.dishes .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap:1.5rem;
}


.dishes .box-container .box{
    padding:2.5rem;
   
    border-radius: .5rem;
    border: 1rem solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
    
}

.dishes .box-container .box .fa-heart,
.dishes .box-container .box .fa-eye{
    position:absolute;
    top:1.5rem;
    background:#eee;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: var(--black);
}

.dishes .box-container .fa-heart:hover,
.dishes .box-container .fa-eye:hover{
    background: var(--green);
    color: #fff;

}

.dishes .box-container .fa-heart{
    right: -15rem;
}

.dishes .box-container .fa-eye{
    left:-15rem;
}


.dishes .box-container .fa-heart:hover{
    right: 1.5rem;
}

.dishes .box-container .fa-eye:hover{
    left:1.5rem;
}

.dishes .box-container .box .meal{
    flex: 1 1 45rem;
}

.dishes .box-container .box img{
    height: 20rem;
    margin: 1rem 0;
    width:100%
    
}

.dishes .box-container .box h3{
    color:var(--black);
    font-size: 2.5rem;
}


.dishes .box-container .box .stars{
    padding: 1rem 0;
}

.dishes .box-container .box .stars i{
    font-size: 1.7rem;
    color: var(--yellow);
}

.dishes .box-container .box span{
    color: var(--green);
    font-weight: bolder;
    margin-right: 1rem;
    font-size:2.5rem;
}




.about .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.about .row .image{
    flex: 1 1 45rem;
}
.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex: 1 1 45rem;
}

.about .row .content h3{
    color: var(--black);
}

.about .row .content p{
    color: var(--light-color);
    font-size: 1.5rem;
    padding: .5rem 0;
    line-height: 2;
}

.about .row .content .icons-container{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin-top: .5rem;
}

.about .row .content .icons-container .icons{
    background: #eee;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0, 0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1 1 17rem;
    padding: 1.5rem 1rem;
}

.about .row .content .icons-container .icons i{
    font-size: 2.5rem;
    color:var(--green);
}

.about .row .content .icons-container .icons span{
    font-size: 1.5rem;
    color:var(--black);
}






.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}


.menu .box-container .box{
    background: #fff;
    border: 1rem solid rgba(0,0,0,0.2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.menu .box-container .box .image{
    height: 25rem;
    width: 100%;
    padding: 1.5rem;
    overflow: hidden;
    position: relative;
}

.menu .box-container .box .image img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}

.menu .box-container .box .image .fa-heart{
    position:absolute;
    top: 2.5rem; 
    right: 2.5rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    background: #fff;
    border-radius: 50%;
    color: var(--black); 

}

.menu .box-container .box .image .fa-heart:hover{
    background-color: var(--green);
    color: #fff;
}

.menu .box-container .box .content{
    padding: 2rem;
    padding-top: 0;
}

.menu .box-container .box .content .stars{
    padding-bottom: 1rem;
}

.menu .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: var(--green);
}

.menu .box-container .box .content h3{
    color: var(--black);
    font-size: 2.5rem;
}
.menu .box-container .box .content p{
    color:var(--light-color);
    font-size: 1.6rem;
    padding: .5rem 0;
    line-height: 1.5;
}

.menu .box-container .box .content .price{
    color: var(--green);
    margin-left: 1rem;
    font-size: 2.5rem;
    

}





.review .slide{
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border: .1rem solid rgba(0,0, 0,0.2);
    border-radius: .5rem;
    position: relative;
}

.review .slide .fa-quote-right{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 6rem;
    color: #ccc;

}
.review .slide .user{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding-bottom:1.5rem;

}

.review .slide .user img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;

}

.review .slide .user h3{
    color: var(--black);
    font: size 2rem;
    padding-bottom: .5rem;

}

.review .slide .user i{
    font-size: 1.3rem;
    color:var(--green);
}

.reviw .slide p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--light-color);
}











/* media queries  */


@media(max-width:991px){
    html{
        font-size: 55%;
    }

    header{
        padding: 1rem 2rem;
    }
    section{
        padding: 2rem;
    }
}

@media(max-width:768px){
    header .icons #menu-bars{
        display: inline-block;
    }

    header .navbar{
        position:absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom-style: .1rem solid rgba(0,0,0,.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background:#eee;
        
    }

    #search-form #search-box{
        width: 90%;
        margin: 0 1rem;
    }
    .home .home-slider .slide .content h3{
        font-size: 5rem;
    }
}


@media(max-width:991px){
    html{
        font-size: 50%;
    }
    .dishes .box-container .box img{
        height: auto;
        width:100%
    }
}


/* cart */
/* .modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 1010;
  background-color: white;
  width: 500px;
  max-width: 80%;
  padding: 20px;
}
 */
 .modal {
    position: fixed;
    min-width: 500px;
    right: 0;
    top: 0px;
    z-index: 1010;
    background-color: white;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px;
    opacity: 0;
    pointer-events: none;
    justify-content: space-between;
    max-width: 500px;
}


.modal.show-cart{
    opacity: 1;
    pointer-events: all;
}

.cartscroll{
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal.show {
    animation: show_cart .3s ease forwards;
}

@keyframes show_cart {
    from{
        right: -500px;
    }
    to{
        right: 0;
    }
}

.modal.hide {
    animation: hide_cart .3s ease forwards;
}

@keyframes hide_cart {
    from{
        right: 0px;
    }
    to{
        right: -500px;
    }
}

.modal-header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header .title {
  font-size: 4rem;
  font-weight: 900;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 4rem;
  font-weight: bolder;
}

.modal select{
  margin: 16px 15px 16px 0;
  padding: 5px;
  background-color: rgb(234, 234, 234);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.modal select:hover{
background-color: rgb(218, 218, 218);
}

i.fa-solid.fa-plus{
    padding-right: 5px;
}

.modal button {
    display: flex;
    height: 40px;
    color: black;
    
    letter-spacing: 1px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.modal-body button {
  border-radius: 12px;
  border: none;
  background-color: rgb(219, 216, 216);
  padding: 10px;
  cursor: pointer;
}

.modal-body {
  padding: 10px 20px 30px 20px;
  height: 100%;
 overflow-y: scroll;
}

.modal-body::-webkit-scrollbar, .cartscroll::-webkit-scrollbar{
    width: 0em;
}

.modal-body::-webkit-scrollbar-thumb:hover{
    background-color: rgb(179, 179, 179);
}

.modal-body::-webkit-scrollbar-thumb{
background-color: rgb(207, 207, 207);
border-radius: 100vw;
}

.modal-body ul{
  list-style-type: none;
  padding-left: 1px;
}

.modal-body ul li{
  display: block;
}

.modal-body ul li{
  border-bottom: 1px solid rgb(219, 216, 216);
  padding-top: 10px;
}

.modal-body ul li img{
  width: 100px;
  height: 70px;
}

.modal-body .flexbody{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.modal-body label {
  font-size: large;
  font-weight: bold;
}

.cart-foot {
  text-align: center;
  box-shadow: 0px 3px 52px 10px rgb(0 0 0 / 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-foot .footbut,
.right .footbut {
  display: flex;
  height: 40px;
  width: 80%;
  margin: 20px 0px;
  padding: 20px 14px;
  border: 2px solid #BFC0C0;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  background-color: black;
  cursor: pointer;
  height: 70px;
  border-radius: 0px;
}


.cart-clear {
    text-align: center;
    padding: 20px;
  }
  
  .cart-clear a {
    text-decoration: none;
    color: red;
    font-weight: 600;
    font-size: 15px;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, .5);
    pointer-events: all;
    z-index: 1009;
    display: none;
  }

  .cart-addItem {
    padding: 0px 15px 20px 20px;
  }
  
  
  .cart-addItem span{
    font-size: 15px;
  }
  
  .cart-addItem button {
    font-size: 15px;
    padding: 10px;
    display: flex;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    background-color: rgb(234, 234, 234);
    cursor: pointer;
  }

  .cart-addItem button:hover{
    background-color: rgb(218, 218, 218);
  }
  
.cart-delete{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
}

.cart-delete .fa-solid:hover{
    color: red;
    cursor: pointer;
}

.cartitem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mybtn button{
    padding: 15px 12px;
    border-radius: 10px;
    background-color: black;
    color: white;
    width: 100%;
    font-size: 20px;
    cursor: pointer;
    margin: 20px 0px;
}